<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
<script>
$(document).ready(function() {
  // Form validation
  $('#login').validate({
    rules: {
      username: {
        required: true,
        minlength: 5
      },
      password: {
        required: true,
        minlength: 8
      }
    },
    messages: {
      username: {
        required: "Please enter your username",
        minlength: "Your username must be at least 5 characters long"
      },
      password: {
        required: "Please enter your password",
        minlength: "Your password must be at least 8 characters long"
      }
    }
  });
});
</script>

<div class="container jumbotron">
  <form id="login" method="POST" action="form-handler.html">
    {% csrf_token %}
    <p><input id="username" type="text" name="username" placeholder="Username..."></p>
    <p><input id="password" type="password" name="password" placeholder="Password..."></p>
    <input class="btn btn-success" type="submit" value="Login">
    <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
  </form>
</div>
